/* Ajustes para el menú lateral */
.sidebar {
    height: calc(100vh - 56px); /* Ajusta la altura para que no cubra el encabezado */
    position: fixed;
    top: 56px; /* Desplaza el menú hacia abajo */
    width: 20%;
    background-color: #f8f9fa;
    padding: 1rem;
}

.sidebar .nav-link {
    color: #000;
}

.sidebar .nav-link.active {
    font-weight: bold;
}

.sidebar .dropdown-menu {
    position: relative;
    width: 100%;
}

#mainContent {
    margin-left: 20%;
    width: 80%;
    padding-top: 20px;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}
/* Estilo para el navbar fijo */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; /* Asegúrate de que el navbar esté sobre otros contenidos */
}

body {
    padding-top: 56px; /* Ajusta este valor según la altura del navbar para evitar solapamientos */
}
/* Ajuste para el footer */
footer {
    text-align: center;
    width: 100%;
}

.container {
    
}

